#coverBackground {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#000;
    opacity: 0.9;
    z-index: 1000;
}

#alarmContainer {
    margin: 10% auto 0 auto;
    width: 50%;
    height: 30%;
    background-image: linear-gradient(30deg, #654ea3 0%, #eaafc8 100%);
    border: 0.5px solid #654ea3;
    border-radius: 6px;
    z-index: 1500;
}

#bellContainer{
    margin: auto;
}

#bellIcon {
    margin: 20%;
    animation: bellRing 1s infinite;
  }
  
  @keyframes bellRing {
    0% {
        font-size: 3em;
    }
    50% {
        font-size: 4em;
    }
    100% {
        font-size: 3em;
    }
  }